Redirect 301 /sponsor https://2017.mchacks.ca/sponsor.pdf
Redirect 301 /apply https://2017.mchacks.ca/apply.html
Redirect 301 /conduct https://2017.mchacks.ca/conduct.html
Redirect 301 /schedule https://2017.mchacks.ca/schedule.html
Redirect 301 /info https://2017.mchacks.ca/hacker-info.html